@import '../../../../constants/var.less';

.list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  max-width: 306px;
  padding-left: 24px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;

  padding: 24px 0 24px 0;
  box-sizing: border-box;

  margin-top: 84px;
  min-height: 538px;
  box-sizing: border-box;

  width: 100%;

  border-top: 1px solid var(--color-black);
}

.blockLogo {
  padding-left: 24px;
}

.logoPosition {
  margin-top: 25px;
  margin-bottom: 51px;
}

.logoHight {
  height: 14%;
}

.title {
  font-weight: 700;
  font-size: 20px;

  margin-bottom: 12px;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #060606;

  margin-bottom: 22px;
}

@media screen and (max-width: @mobile) {
  .container {
    flex-direction: column;
    justify-content: start;

    min-height: auto;

    padding-left: 0;
  }
}
