.section {
  max-width: 648px;
  width: 100%;

  background-color: #fefefe;

  border-radius: 8px;
}

.container {
  display: flex;

  margin: 32px 0 23px 32px;
}

.rightBlock {
  width: 100%;
}

.logoPosition {
  margin-bottom: 10px;
}
